NEXT_PUBLIC_APP_NAME="QiuAI WorkOS"
NEXT_PUBLIC_ICP_BEIAN="浙ICP备2026043969号-1"
NEXT_PUBLIC_ICP_BEIAN_URL="https://beian.miit.gov.cn/"
NEXT_PUBLIC_WORKOS_CONSOLE_URL="https://workos.qiuaihub.com"
NEXT_PUBLIC_ADMIN_CONSOLE_URL="https://admin-workos.qiuaihub.com"
GITHUB_TOKEN=""
